[Unit]
Description=X11 window watcher for ActivityWatch
Documentation=
After=sd-server.service

[Service]
Type=simple
ExecStart=/usr/bin/env sd-watcher-x11
Environment="DISPLAY=:0"
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target
